@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Lora);

body {
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: black;
}

header {
    text-align: center;
    margin-top: 25px;
    padding-top: 25px;
}

h1 {
    text-transform: uppercase;
    font-size: 2.8em;
}

footer {
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    text-align: center;
    width: 100%;
}

address, address > a {
    display: inline;
}

#main {
    width: 900px;
    height: 650px;
    margin: 0px auto;
    background-color: white;
}

#two-colors {
    display: inline-block;
    opacity: 0;
    background: url("../imgs/Deux-Couleurs.png") no-repeat 0 0;
    position: relative;
    width: 550px;
    height: 386px;
    margin: 0px auto;
}

#prenom {
    margin-top: 25px;
    margin-left: 29px;
    letter-spacing: 35px;
    opacity: 0;
    position: relative;
    top: 25px;
    font-family: 'Lora', serif;
}

#nom {
    margin-top: 0px;
    margin-left: 30px;
    letter-spacing: 32px;
    opacity: 0;
    position: relative;
    top: -9px;
    font-family: 'Lora', serif;
}